<ion-view view-title="Resultado da missão">
	<ion-content class="padding" overflow-scroll="false">
		<div class="water anim-water"></div>
		<ion-scroll class="content-ranking" direction="x" scrollbar-x="false" scrollbar-y="false" locking="true">
		<div class="points-user">
			<strong>300 pontos</strong>
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored pos">
			  <i class="material-icons">add</i>
			</button>
		</div>
		<div class="list-user-ranking">
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
					<div class="item-user-ranking">
						<!-- <div class="tooltip-user-ranking">Lorem ipsum dolor sit amet.</div> -->
						<div class="user-ranking-head"></div>
						<div class="user-ranking-base"></div>
					</div>
			</div>
		</ion-scroll>
	</ion-content>
</ion-view>