<ion-view view-title="Seu consumo">
	<ion-content class="padding" scroll="false">
		<div class="list card">
		  <div class="item">
			  <h2 class="text-center">
			  	Você sabia que sua família consome <br />
			  		<strong class="positive destaq-text">300 litros</strong>
			  	 de água por dia?
			  </h2>
		  </div>

		  <div class="item item-body">
		  	<img class="float-image" src="../img/copo_agua.jpg" />
			  <p>
			  	É como se todos vocês bebessem <strong class="positive destaq-positive">1500 copos</strong> de água num <br /> único dia!!!
			  </p>
			  <p>
			  	Isso é muita água, não é?
			  </p>
			  <p>
			  	Se a sua família gasta muita água, outras pessoas não terão água para fazer tarefas simples, como cozinhar, tomar banho ou limpar a casa.
			  </p>
			  <p>
			  	O correto é que sua família consuma apenas <strong class="positive destaq-text">110 litros</strong> de água por dia.
			  </p>
			  <p>
			  	Se você ajudar sua família a economizar água todos os dias, você ajudará outras pessoas.
			  </p>
			  <p>
			  	<strong>Vamos lá?</strong>
			  </p>
		  </div>
		</div>
		<button ng-click="initMissions();" class="mdl-button mdl-button--raised mdl-button--colored btn-entrar">Iniciar missões</button>
	</ion-content>
</ion-view>
